/* מבטיח שכל השורות בטופס יתפסו את אותו רוחב */
.p-fluid .field {
  width: 100%;
}

/* הדגשת שדה חובה */
label span {
  color: #ef4444; /* צבע אדום לסימן הכוכבית */
  margin-right: 4px;
}

/* מרווח בין האלמנטים בתוך הדיאלוג */
.donor-dialog .p-dialog-content {
  padding-top: 1.5rem !important;
}

/* עיצוב כפתורים */
.flex.gap-2 {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}